// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$primary:         #96A2BF;
$secondary:       #7C7924;
$tertiary:        #ACDAFB;
$text:            #141405;
$background:      #E2E2E2;
