.banner {

  width: 100%;
  position: fixed;
  z-index: 999;

  &--logo-image  {
    width: 160px;
    height: 80px;
  }

}

.nav-primary {
  float: right;

}

#menu-header-menu > .menu-item {
  font-size: 16px;
  padding: 0 20px;
  height: 80px;
  line-height: 80px;
  text-transform: uppercase;
}

#menu-header-menu > .menu-item > a {
  height: 50px;
}

#menu-header-menu > .menu-item:hover {
  border-bottom: 2px solid $primary;
}

#menu-header-menu > .menu-item > a:hover {
  color: $primary;
}
